*.la
*.lo
*.o
*bak
*log
*stamp
*~
.#*
.deps
.libs
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux/bin/bison++
/build-aux/bin/config.guess
/build-aux/bin/config.sub
/build-aux/bin/depcomp
/build-aux/bin/install-sh
/build-aux/bin/ltmain.sh
/build-aux/bin/missing
/build-aux/bin/test-driver
/build-aux/bin/ylwrap
/build-aux/m4/libtool.m4
/build-aux/m4/ltoptions.m4
/build-aux/m4/ltsugar.m4
/build-aux/m4/ltversion.m4
/build-aux/m4/lt~obsolete.m4
/config.log
/config.status
/configure
/libtool
/tests/Makefile.in
/tests/unit/aut_lal_char_z
/tests/unit/aut_lao_char_z
/tests/unit/aut_law_char_z
/tests/unit/concat
/tests/unit/transpose
/vaucanson-*/
/vcsn/Makefile.in
/vcsn/config.h
/vcsn/config.in.h
/vcsn/lexer.cc
/vcsn/parse-rat-exp.dir/
Makefile
\#*#
stamp-h*
