*.o
*bak
*log
*stamp
*~
.#*
.deps
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/build-aux/ylwrap
/config.log
/config.status
/configure
/tests/Makefile.in
/vcsn/Makefile.in
Makefile
\#*#
bison++
vcsn/io/rat-exp
vcsn/lexer.cc
vcsn/parse-rat-exp.dir/
