*.o
*~
.#*
.deps
/aclocal.m4
/autom4te.cache
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/build-aux/ylwrap
/config.log
/config.status
/configure
Makefile
Makefile.in
\#*#
*bak
bison++
*log
*stamp
vcsn/parse-rat-exp.dir/
vcsn/lexer.cc
vcsn/io/rat-exp
